<tr id="fatturaaccdeposito_recid_@Model.RecId">
    <td>@Model.NumeroDocumento</td>
    <td>@DateTimeExt.ToGhigoShortDateString(Model.DataDocumento)</td>
    <td>@Model.DestinazioneRagioneSociale</td>
    <td class="right">@Model.TotaleDocumento.ToString("N")</td>
    <td class="center">
        <a id="btnPDF_recid_@Model.RecId" 
            class="btn small pop blue" 
            target="_blank"
            href="/Report/Print?stored=APP_SP_REPORT_FATTURA_ACCOMPAGNATORIA_DEPOSITO&rec_id=@Model.RecId">
            Fattura
        </a>
        @Html.ActionLink("Tracciabilità", "FileTracciabilita_FatturaAccompagnatoriaDeposito", "Fatture", 
            routeValues: new { recid = Model.RecId }, 
            htmlAttributes: new { @class = "btn small blue" })
        
        @if(!ViewBag.DepositoInterno) {
            @Html.ActionLink("Elimina", "EliminaFatturaAccDeposito", "Fatture",
            routeValues: new { recid = Model.RecId }, htmlAttributes: new { @class = "btn small red", onclick = "return confirm('Vuoi davvero eliminare questa fattura?')" })
        }
    </td>
</tr>

