<tr id="ddt_recid_@Model.RecId">
    <td>@Model.NumeroDocumento</td>
    <td>@DateTimeExt.ToGhigoShortDateString(Model.DataDDT)</td>
    @if (!string.IsNullOrEmpty(Model.NumeroFattura))
    {
        <td>
            @Html.ActionLink((string)Model.NumeroFattura, "Index", "Fatture", routeValues: new { cerca = Model.NumeroFattura }, htmlAttributes: new { @class = "btn small pink" })
        </td>
    } else {
        <td>
            &nbsp;
        </td>
    }
    <td>@Model.DestinazioneRagioneSociale</td>
    <td>
        <a id="btnPDF_recid_@Model.RecId" 
            class="btn small pop blue" 
            target="_blank"
            href="/Report/Print?stored=APP_SP_REPORT_DDT_VENDITE_DEPOSITI&rec_id=@Model.RecId">
            DDT
        </a>
        @if (Model.Tracciabilita)
        {
            @Html.ActionLink("Tracciabilità", "FileTracciabilita_DdtVenditaDeposito", "DDT",
                routeValues: new { recid = Model.RecId },
                htmlAttributes: new { @class = "btn small blue" })
        }
        @if (Model.DifferenzeSpunta)
        {
            <a id="btnSpunta_recid_@Model.RecId"
               class="btn small pop blue"
               target="_blank"
               href="/Report/Print?stored=APP_SP_REPORT_DDT_VENDITE_DEPOSITI_SPUNTA&rec_id=@Model.RecId">
                Diff.
            </a>
        }        
    </td>
</tr>

