@using GhigoWeb.Models
@using GhigoWeb.Extensions

@model IEnumerable<StatoOrdineFornitoreDeposito>

@{
    ViewBag.Title = "Tabellone";
}

<div class="left">
    <form method="get" class="vertical">
        <fieldset>
            <legend>Parametri di ricerca</legend>
            <table border="0">
                <tr>
                    <td>
                        <label for="ordineFornitore">Ordine Fornitore</label>
                        <input class="small" id="ordineFornitore" name="ordineFornitore" type="text" placeholder="Ordine Fornitore" style="width: 200px" value="@ViewBag.OrdineFornitore" />
                    </td>
                    <td>
                        <label for="codiceFornitore">Codice Fornitore</label>
                        <input class="small" id="codiceFornitore" name="codiceFornitore" type="text" placeholder="Codice Fornitore" style="width: 200px" value="@ViewBag.CodiceFornitore" />
                    </td>
                    <td>
                        <label for="articolo">Articolo</label>
                        <input class="small" id="articolo" name="articolo" type="text" placeholder="Articolo" style="width: 200px" value="@ViewBag.Articolo" />
                    </td>
                    <td>
                        <input type="submit" value="Cerca" class="orange" />
                    </td>
                </tr>
            </table>
            <input type="checkbox" name="residuo" value="true" onclick="this.form.submit();" @(ViewBag.Residuo ? "checked" : string.Empty) /> A residuo
            <input type="checkbox" name="anche_chiusi" value="true" onclick="this.form.submit();" @(ViewBag.AncheChiusi ? "checked" : string.Empty) /> Anche chiusi
            <input type="checkbox" id="carico_esterno" value="true" /> Prepara carico esterno 
            <button id="totaleCaricoEsterno"
                    class="small pop pink hide"
                    style="width: 80px"
                    onclick="CreaCaricoEsterno(); return false;">
                0.00
            </button>
        </fieldset>
    </form>
</div>

@if(Model.Count() == 0) {
    <h3>Nessun risultato disponibile (oppure nessun filtro settato!)</h3>
}
else
{
    var ordini_fornitori = Model.Select(s => s.NumeroOrdine).Distinct();

    <div id="accordion" class="hide">

        @foreach (var ordine_fornitore in ordini_fornitori)
        {
            var righe = Model.Where(s => s.NumeroOrdine == ordine_fornitore);
            var prima_riga = righe.First();
            
            <h3 class="left" id="h3_@prima_riga.NumeroOrdine">OF @prima_riga.NumeroOrdine - @prima_riga.Fornitore [@prima_riga.CodiceFornitore] (Data ordine @prima_riga.DataOrdine.ToShortDateString() e consegna @prima_riga.DataConsegna.ToShortDateString())</h3>
            <div>
            <table class="striped" id="tabellaOrdine_@prima_riga.NumeroOrdine" style="font-size: smaller">
                <thead>
                    <tr>
                        <th>Cod. Articolo</th>
                        <th>Descrizione Articolo</th>
                        <th class="right">Quantita</th>
                        <th class="right">Confermata</th>
                        <th class="right">Evasa</th>
                        <th class="right">Residua</th>
                        <th class="right">Valore unitario</th>
                        <th>Numero ordine offerta</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in righe)
                    {
                        <tr>
                            <td>@item.CodiceArticolo</td>
                            <td style="width: 200px">@item.DescrizioneArticolo</td>
                            <td class="right">@item.Quantita.ToSmartInt("-")</td>
                            <td class="right">@item.QuantitaConfermata.ToSmartInt("-")</td>
                            <td class="right">@item.QuantitaEvasa.ToSmartInt("-")</td>
                            <td class="right">
                                @item.QuantitaResidua.ToSmartInt("-")
                                <input type="text" id="txtQuantita_@item.RecId" data-attribute="@item.RecId" name="txtQuantita_@item.RecId" style="width: 40px" class="right hide" value="0" />
                            </td>
                            <td class="right">
                                @item.ValoreUnitario.ToSmartInt("-")
                                <input type="text" id="txtValore_@item.RecId" data-attribute="@item.RecId" name="txtValore_@item.RecId" style="width: 80px" class="right hide" value="@item.ValoreUnitario" />
                            </td>
                            <td>@item.RifOffertaNumeroOrdine</td>
                            <td>@item.Note</td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
    }

    </div>
    <br />

}

<div class="hide">
    <form id="formNuovoCarico" style="width: 450px" class="vertical">
        <fieldset>
            <legend>Nuovo carico deposito</legend>
            <label for="txtNumeroDocumentoFornitore">NumeroDocumentoFornitore</label>
            <input type="text" id="txtNumeroDocumentoFornitore" name="NumeroDocumentoFornitore" />
            <label for="txtDataDocumento">DataDocumento</label>
            <input type="text" id="txtDataDocumento" name="DataDocumento" />
        </fieldset>
        <button id="btnConfermaNuovoCarico" class="orange" style="float: right" onclick="ConfermaCreazioneCaricoEsterno(); return false;">Conferma creazione carico</button>
    </form>
</div>

@section scripts {
    <script src="~/Scripts/jquery.numeric.js"></script>
    <script type="text/javascript">
        // quando il dom e' pronto
        $(document).ready(function () {

            toastr.options = { positionClass: 'toast-top-left' };

            $('#wrap').css("width", "90%");

            // accordion
            $("#accordion").show().accordion({
                active: false,
                autoHeight: false,
                collapsible: true
            });

            $("input[name^='txtValore']").numeric({ decimal: true, negative: false });
            $("input[name^='txtQuantita']").numeric({ decimal: false, negative: false });

            $('#carico_esterno').change(function () {
                if ($("#carico_esterno").is(":checked")) {
                    $("input[name^='txtValore'], input[name^='txtQuantita'], #totaleCaricoEsterno").show();
                } else {
                    $("input[name^='txtValore'], input[name^='txtQuantita'], #totaleCaricoEsterno").hide();
                }
            });

            $("input[name^='txtValore'], input[name^='txtQuantita']").change(function () {
                var totale = 0.0;
                $("input[name^='txtQuantita']").each(function (index, element) {
                    var qta = parseFloat($(this).val());
                    if (qta > 0)
                    {
                        var recId = $(this).attr('data-attribute');
                        var valore = parseFloat($("#txtValore_" + recId).val().replace(',','.'));
                        totale = totale + qta * valore;
                    }
                });
                $('#totaleCaricoEsterno').text(totale.toFixed(2));
            });
        });

        function CreaCaricoEsterno() {
            $.fancybox({
                overlayShow: true,
                autoDimensions: true,
                href: '#formNuovoCarico'
            });

            $('#txtNumeroDocumentoFornitore').focus().select();
        }

        function ConfermaCreazioneCaricoEsterno() {
            var lista_qta = {};
            var lista_valori = {};

            var numeroDocumento = $('#txtNumeroDocumentoFornitore').val();
            var dataDocumento = $('#txtDataDocumento').val();

            $("input[name^='txtQuantita']").each(function (index, element) {
                var qta = parseFloat($(this).val());
                if (qta > 0) {
                    var recId = $(this).attr('data-attribute');
                    var valore = parseFloat($("#txtValore_" + recId).val().replace(',', '.'));

                    lista_qta[recId] = qta;
                    lista_valori[recId] = valore;
                }
            });

            if ($.isEmptyObject(lista_qta)) {
                alert('Nessuna quantità da caricare!');
                return;
            }

            $.post('@Url.Action("CreaCaricoEsterno")',
            {
                lista_qta: lista_qta,
                lista_valori: lista_valori,
                numero_documento_fornitore: numeroDocumento,
                data_documento: dataDocumento
            },
            function (data, success, xhr) {
                if (data.Successo) {
                    toastr.success(data.Messaggio);
                    window.open("/Report/Print?stored=APP_SP_REPORT_CARICO_ESTERNO_DEPOSITO&rec_id=" + data.RecId, "_blank", "");
                    setTimeout(function () {
                        document.location.href = '@Url.Action("Index")';
                    }, 1000);
                } else {
                    toastr.error(data.Messaggio);
                }
            }, 'json').fail(function () { toastr.error("Errore nella comunicazione con il server."); });
        }
    </script>
}