@using GhigoWeb.Controllers
@model List<GestioneListinoController.CsvTableResult>

@foreach (var result in Model)
{
    var dict = new Dictionary<string, string>();
    string[] errori = result.Valido.Split(";".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    foreach (string errore in errori)
    {
        string[] parti = errore.Split("=".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
        dict[parti[0]] = parti[1];
    }    
    
    <tr>
        <td style="background-color: @(dict.Keys.Contains("Codice") ? "red" : "transparent")">@result.Codice</td>
        <td width="90%" style="background-color: @(dict.Keys.Contains("Descrizione") ? "red" : "transparent")">@result.Descrizione</td>
        <td style ="background-color: @(dict.Keys.Contains("QuantitaMinima") ? "red" : "transparent")">@result.QuantitaMinima</td>
        <td style="background-color: @(dict.Keys.Contains("PrezzoAcquisto") ? "red" : "transparent")">@result.PrezzoAcquisto</td>
        <td style="background-color: @(dict.Keys.Contains("PrezzoVendita") ? "red" : "transparent")">@result.PrezzoVendita</td>
        <td style="background-color: @(dict.Keys.Contains("Ricarico") ? "red" : "transparent")">@result.Ricarico</td>
        <td style="background-color: @(dict.Keys.Contains("GruppoAssortito") ? "red" : "transparent")">@result.GruppoAssortito</td>
    </tr>
    
    if(dict.Keys.Count > 0)
    {
        <tr>
            <td colspan="7" style="color: red">
                <ul>
                    @foreach(var key in dict.Keys)
                    {
                        <li>@dict[key]</li>
                    }
                </ul>
            </td>
        </tr>
    }
}